<div class="container">
  <div style="border-style:solid; border-radius:10px;">
    <h1 style="text-align:center;">{{ title }}</h1>
    <div class="row" style="margin:10px;">
      <form class="form-inline">
        <div class="form-group">
          <label for="exampleInputEmail1">Message</label>
          <input name="message" type="text" [(ngModel)]="message" class="form-control" id="exampleInputEmail1">
        </div>
        <button type="submit" class="btn btn-primary float-right" (click)="submit()">Submit</button>
      </form>
    </div>
    <div class="row" style="margin:10px;">
      <span style="background-color:tan">received: {{messageFromParent}}</span>
    </div><hr>
    <div class="row" style="margin:10px;">
        <button type="submit" class="btn btn-primary float-right" (click)="importContact()">Import Contact</button>
    </div>
    <!-- <div class="row" style="margin:10px;">
        <div style="background-color:tan">Import formatted contact:
          <ol>
              <li *ngFor="let contact of formattedContacts">{{contact.name}} | {{contact.phone}}</li>
            </ol>
        </div>
      
    </div> -->
    <div class="row" style="margin:10px;">
        <pre style="background-color:tan">Import Contacts:<br/> {{contacts | json}}</pre>
    </div>
  </div>
</div>